@using Microsoft.AspNet.Identity
@model Test.Products.Models.ManageUserViewModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Change Password</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-sm-4 col-md-3 control-label" })
        <div class="col-sm-8 col-md-9">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-sm-4 col-md-3 control-label" })
        <div class="col-sm-8 col-md-9">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 col-md-3 control-label" })
        <div class="col-sm-8 col-md-9">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <input type="submit" value="Change password" class="btn btn-lg btn-default col-xs-12 col-sm-6 col-sm-offset-2" />
}
