@model Test.Products.Database.Models.Product
@{
    ViewBag.Title = "Create";
    var edit = ViewBag.Edit ?? false;
}

<!--<h2>@(edit ? "Edit" : "Create new") product</h2>-->
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <h1>@ViewBag.Message</h1>
}

@if (HttpContext.Current.Request.HttpMethod != "POST")
{

    <div class="col-sm-8 col-sm-offset-2 row">
        @using (Html.BeginForm(@edit ? "Edit" : "Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(x => x.ID)
            
            <div class="form-group">
                @Html.LabelFor(x => x.Title)
                @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                @Html.LabelFor(x => x.Price)
                @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
            </div>
            
            <div class="form-group">
                @Html.LabelFor(x => x.About)
                @Html.TextAreaFor(x => x.About, new { rows = 10, columns = 40, @class = "form-control" })
            </div>

            <div class="form-group">
                <label for="file">Upload Image:</label>
                <input type="file" name="file" id="file" class="col-xs-12" />
            </div>

        <button type="submit" class="btn btn-lg btn-default col-xs-12 col-sm-6 col-sm-offset-3">@(edit ? "Update" : "Create") product</button>
        }
    </div>

}

@section Scripts {
    <script>
        var x = document.getElementById("GPS");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.value = "Geolocation is not supported by this browser.";
            }
        }
        function showPosition(position) {
            x.value = position.coords.latitude + ", " + position.coords.longitude;
        }
        getLocation();
    </script>
}