@model Test.Products.Database.Models.Product
@{
    ViewBag.Title = "Details";
}

<h2>
    @Model.Title
</h2>

@if (Request.IsAuthenticated)
{
    <div class="row">
        @Html.ActionLink("Edit", "Edit/" + Model.ID, "Product", new { @class = "btn btn-default col-sm-2 col-sm-offset-3" })
        @Html.ActionLink("Delete", "Delete/" + Model.ID, "Product", new { @class = "btn btn-danger col-sm-2 col-sm-offset-2" })
    </div>
}

<hr />

<div class="row">
    <img src="~/Content/Pictures/@Model.Image" alt="@Model.Title" class="col-sm-6">
    <div class="col-sm-6">
        <span>@Model.About</span>
    </div>
</div>