@model Test.Products.Database.Models.Product
@{
    ViewBag.Title = Model.Title;
}

<h2>
    @Model.Title
    @if (Request.IsAuthenticated)
    {
        <div class="btn-group" role="group">
            @Html.ActionLink(" ", "Edit/" + Model.ID, "Product", new { @class = "btn btn-sm btn-default glyphicon glyphicon-edit" })
            @Html.ActionLink(" ", "Delete/" + Model.ID, "Product", new { @class = "btn btn-sm btn-danger glyphicon glyphicon-trash" })
        </div>
    }
</h2>

<div class="row">
    <div class="col-sm-6 details">
        <p class="text-center">@Model.About</p>
        <hr />
        <p class="text-right">Price: @Model.Price SEK</p>
    </div>
    <div class="col-sm-6">
        <img src="~/Content/Pictures/@Model.Image" alt="@Model.Title">
    </div>
</div>