@model List<Test.Products.Database.Models.Product>
@{
    ViewBag.Title = "Products Page";
}
@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <span>@ViewBag.Message</span>
}

<div class="row">

        @foreach (var product in Model)
        {
            <div class="col-sm-4 col-md-3 thumbnail">
                @if (Request.IsAuthenticated)
                {
                    <div class="buttons">
                        @Html.ActionLink(" ", "Details/" + product.ID, "Product", new { @class = "btn btn-default glyphicon glyphicon-fullscreen" })
                        @Html.ActionLink(" ", "Edit/" + product.ID, "Product", new { @class = "btn btn-default glyphicon glyphicon-edit" })
                        @Html.ActionLink(" ", "Delete/" + product.ID, "Product", new { @class = "btn btn-danger glyphicon glyphicon-trash" })
                    </div>
                }
                <a href="@Url.Action("Details/" + product.ID)">
                    <div class="img" style="background-image: url(../Content/Pictures/@product.Image);"></div>
                    <div class="caption">
                        <h3>
                            @product.Title<br />
                            <small>@product.Price SEK</small>
                        </h3>
                    </div>
                </a>
            </div>
        }
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var highestBox = 0;
            $('.img').each(function () {
                if ($(this).width() > highestBox) {
                    highestBox = $(this).width();
                }
            });
            $('.img').height(highestBox);
        });
    </script>
}